.feature {
    padding-bottom: 47px;

    &__list {
        display: flex;
        align-items: flex-start;
        flex-basis: calc(100% / 4 - 30px);
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &__list &__item+&__item {
        margin-left: 30px;
    }

    &__container {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        justify-content: center;

        width: 270px;
        height: 120px;
        background-color: getColor('third-bcg');
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        color: getColor('paragraph-text');
        min-width: 270px;
        line-height: 1.7;
    }
}